{% extends "admin/base.html" %}
{% load i18n admin_reorder_tag %}

   {% block extrastyle %}
     <style type="text/css">
       .breadcrumb { margin: 70px 0px 10px 0px !important; }
     </style>
{% endblock %}

{% block title %} {% trans 'Samothrace' %} | {{ title }} {% endblock %}

{% block branding %}
{% admin_reorder %}
<h1 id="site-name">{% trans 'Samothrace Administration' %} | <a href="http://samothraciannetworks.digitalscholarship.emory.edu/admin/logout/">Logout</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
