{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify bootstrapped_goodies_tags %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block content %}
<p><h1><strong>Bibliography</strong></h1><br/>
<br/>
<br/>
Cole, Susan Guettel.  1984,  Theoi Megaloi : the cult of the great gods at Samothrace / Susan Guettel Cole  E.J. Brill Leiden.<br/>
Dimitrova, Nora M. 2008, Theoroi and Initiates in Samothrace: The Epigraphical Evidence. Hesperia Supplement, 37.   Princeton:  American School of Cl$
Mack, William. 2015, Proxeny and Polis: Institutional Networks in the Ancient Greek World. Oxford: Oxford University Press. Oxford Scholarship Online$
<br/>
<br/>
<a href="http://samothraciannetworks.digitalscholarship.emory.edu/admin/">Back to Admin</a></p>
{% endblock %}

