{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block content %}
<p><h1><strong>Samothracian Networks – </h1><h2>Samothracian Inscriptions Network Graph Exported from Django</strong></h2><br/>
In order to create a network graph with the newest Samothracian Networks data in Gephi, export in the following order from the Samothracian Networks Django Database. <br/>
1) Go to “Data Download” Links Page. <br/>
2) Get the “Nodes” data from the first two Inscriptions export files. <br/>
3) Get the “Edges” data from the Inscriptions – Edges – Individual cities to Individual cities by Inscription download (csv). <br/>
4) THEN: Open the csv.  <br/>
a. Sort by ‘Target’ column, and delete the records with a blank Target column (at the bottom). <br/>
b. Save the new file.<br/>
5) Go into Gephi and import the two nodes files, and the new edges file.<br/>
a. Remember to make “latitude” and “longitude” DOUBLE fields (not string or float) so that they will work as GPS points.<br/>
b. *Important* Uncheck the Id column for the EDGES file. This is necessary to get all the edges.<br/>
6) Save the file.   <br/>
a. This file has parallel edges – and all participating names. *NOTE* If you use the 'Edges with Time data', people are listed uniquely by *ROLE* not by name (so someone with two roles will be listed twice). <br/>
b. Click “Preview” to prepare for graph file export. <br/>
c. Export a gexf file.<br/>
7) Open the Gexf file.  Choose “undirected”.<br/>
a. This file has no parallel edges, and Degree will work correctly (though it does not have all participating names). </p>
<br/>
<br/>
<h2>Mack Grants Network Graph Exported from Django</strong></h2><br/>
In order to create a network graph with the newest Mack Grant Networks data in Gephi, export in the following order from the Samothracian Networks Django Database. <br/>
1) Go to “Data Download” Links Page. <br/>
2) Get the “Nodes” data from the last two Grants export files. <br/>
3) Get the “Edges” data from the Grants - Edges - Receiving to Receiving cities download (csv). <br/>
a. This will only have the network among receiving cities.  If you also want the granting to receiving city edges, also download the Grants - Edges - Granting to Receiving cities download (csv). <br/>
4) Go into Gephi and import the two nodes files, and the two edges files.<br/>
a. Remember to make “latitude” and “longitude” DOUBLE fields (not string or float) so that they will work as GPS points.<br/>
5) Save the file.   <br/>
a. Depending on your version of Gephi, this file may have parallel edges. <br/>
b. If the file DOES have parallel edges, do the following:  Click “Preview” to prepare for graph file export. <br/>
c. Export a gexf file.<br/>
6) Open the Gexf file.  Choose “undirected”.<br/>
a. This file has no parallel edges, and Degree will work correctly. </p>
<br/>
<br/>
<a href="/admin/">Back to Admin</a></p>
{% endblock %}
